    <!-- Header -->
    <style>
        #recent-news {
            border-color: #fc6b03;
            background-color: #fc6b03;
        }
        #recent-news:hover, #recent-news:focus, #recent-news:active {
            background-color: #bf5900;
        }
    </style>


    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To The CitéLab!</div>
                <div class="intro-heading">Cloud, IoT and Edge Computing Research</div>
                <a href="#research" class="page-scroll btn btn-xl">Learn More</a>
                <a id="recent-news" href="" class="page-scroll btn btn-xl">Recent News</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

