<!DOCTYPE html>
<html>

  {% include head.html %}


  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"  data-offset="151">
    {% include navigation.html %}     
    {% include header.html %}
    {% include research.html %}
    {% include projects_grid.html %}
    {% include team.html %}
    {% include publications.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include publicationsModal.html %}
    {% include js.html %}

    </body>
</html>